<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Belgrano&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=PT+Serif+Caption&display=swap" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="camera_change"></div>
    <div class="locker_change"></div>
    <div class="mrt_change"> </div>
    <button onclick =  "window.location.href = 'http://127.0.0.1:5500/LoginPage.html'" 
                        type = "button" class="back_change" aria-label="Close"style="background-color: transparent;" >
                        &lt;Back
    </button>
    <span class="current_change">
        CHANGE PASSWORD
    </span> 
    <span class="currentpass_change">
        Current Password
    </span>
    <span class="newpass_change">
        New Password
    </span>
    <input type = "password" class="input1_change">
    <input type = "password" class="input2_change">               
    <button onclick = " window.location.href = 'http://127.0.0.1:5500/WelcomePage.html'" 
                        type = "button" class="login_change" aria-label="Close" style="background-color: transparent;" >
                    Login Page→  
                </button>      
    <button onclick =  "window.location.href = 'http://127.0.0.1:5500/ForgetPage.html'" 
                        type = "button" class="forget_change" aria-label="Close" style="background-color: transparent;">
                    Forget Password
    </button>
    <script src="../static/scripts.js"></script>
</body>
</html>