<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link href="https://fonts.googleapis.com/css?family=Belgrano&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=PT+Serif+Caption&display=swap" rel="stylesheet" />
        <link href="../css/macmain.css" rel="stylesheet" />
        <title>Document</title>
        </head>
    <body>
        <div class="camera_forget"></div>
        <div class="locker_forget"></div>
        <div class="mrt_forget"> </div>
        <button onclick =  "window.location.href = 'http://127.0.0.1:5501/LoginPage.html'" 
                        type = "button" class="back_forget" aria-label="Close" style="background-color: transparent;">
                        &lt;Back
        </button>
        <span class="forgetpass_forget">
            FORGET PASSWORD
        </span>
        <span class="email_forget" id = "emailforget">
            E-Mail
        </span>
        <input type = "email" class="input_forget">
        <button onclick = "getvalue('emailforget') ; window.location.href = 'http://127.0.0.1:5501/WelcomePage.html'" 
                        type = "button" class="verify_forget" aria-label="Close" style="background-color: transparent;" >
                    Send Verification Mail
                </button>   
         <script src="../static/scripts.js"></script>
          
    </body>
</html>